* {
    padding: 0;
    margin: 0;
}
$themes: (
    light: (
        textColor: #000,
        bg: rgb(255, 255, 255),
        logo: darkblue,
        bgSoft: rgb(246, 243, 243),
        textColorSoft: #555,
        backgroundColorHover: rgba(34, 34, 34, 0.3),
        border: lightgray,
    ),
    dark: (
        textColor: whitesmoke,
        bg: rgb(34, 34, 34),
        logo: white,
        bgSoft: #333,
        textColorSoft: lightgray,
        border: #444,
        backgroundColorHover: rgba(255, 255, 255, 0.3),
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 960px) {
        @content;
    }
}
